@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Tailwind classes directly to element selectors */
@layer base {
  h1 {
    @apply text-3xl md:text-4xl font-bold mb-2 mt-2 text-cyan-700 font-serif;
  }
  h2 {
    @apply text-2xl md:text-3xl font-semibold mb-3 mt-5 text-stone-800 font-sans;
  }
  h3 {
    @apply text-xl md:text-2xl font-medium mb-3 mt-3 text-stone-700 font-serif italic font-medium;
  }

  h4 {
    @apply text-lg md:text-xl font-medium mb-3 mt-3 text-stone-700 font-serif;
  }
  p {
    @apply mb-4 text-gray-700;
  }
  ul {
    @apply list-disc ml-6 mb-4;
  }
  ol {
    @apply list-decimal ml-6 mb-4;
  }
  li {
    @apply mb-1;
  }
}
.google-font{
    opacity: 0;
    transition: opacity 0.1s ease-out;
}

body.font-loaded .google-font {
    opacity: 1;
}



.header-section{

  @apply px-10 pt-12 pb-4  md:pt-14 md:pb-8;

  .brand-mark {
      font-family: "Bona Nova", serif;
      font-weight: 700;
      font-style: normal;
      @apply text-2xl md:text-3xl text-teal-500 m-0;
  }

  .main-header{
    @apply text-3xl md:text-5xl text-stone-500 font-sans mt-2;
  }

  .sub-header{
    @apply text-lg md:text-xl text-stone-700 italic font-medium;
  }

  .header-links{
    @apply flex items-center justify-center;

    p{
      @apply flex flex-wrap justify-center gap-x-3 gap-y-2 p-1;

      a{
        all: unset; /* Removes all inherited and default styles */
        text-decoration:underline;
        @apply font-serif font-bold text-sm whitespace-nowrap;
      }
    }

  }
}

.sub-header{
  @apply italic font-bold;
}

.callout{
  @apply bg-amber-50 p-6 my-12 rounded-lg;
}

.section-a{
  @apply bg-gray-100 p-12;
}

.section-b{
  @apply bg-white p-12;
}


.footer{
  @apply bg-gray-100 p-12;
}


/* blurry bg images */
/* https://www.fffuel.co/bbblurry/ */

.header-section, .section-a, .section-b, .footer{
  position:relative;
  overflow:visible;
}

.header-section::before, .section-a::before, .section-b::before, .footer::before{
  content: '';
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('blur.svg');
  background-size: 800px 900px;
  background-position: top left;
  z-index: 0;
  background-repeat: no-repeat;
  width:1000%;
  height:1000px;
}

.header-section::before{
  background-size: 1300px 700px;
  background-position:  left;
  transform: translateX(-250px);
}

.main-cont div:nth-child(3)::before {
  background-size: 600px 1300px;
  background-position: top left;
  transform: rotate(10deg) translateX(-250px);
}


.main-cont div:nth-child(4)::before {
  background-size: 1100px 600px;
  background-position: bottom left;
  transform: rotate(50deg) translateX(-350px);
}

.main-cont div:nth-child(5)::before {
  background-size: 800px 400px;
  background-position: center left;
  transform: rotate(190deg) translateX(350px);
}

.main-cont div:nth-child(6)::before {
  background-size: 1000px 1600px;
  background-position: top center;
  transform: rotate(100deg) translateY(550px);
}

.main-cont div:nth-child(7)::before {
  background-size: 800px 1400px;
  background-position: center left;
  transform: rotate(20deg) translateY(-150px);
}

.main-cont div:nth-child(8)::before {
  background-size: 700px 1500px;
  background-position: top right;
  transform: rotate(60deg) translateX(-150px);
}

.main-cont div:nth-child(9)::before {
  background-size: 700px 1500px;
  background-position: top right;
  transform: rotate(60deg) translateX(-150px);
}

.profile-cont{
  p{
    @apply w-full flex gap-4;
  }
}
